:root {
    --black: #1C1C1C;
    --gray: #919191;
    --light-gray: #EBEBEB;
    --hot-pink: #FF214F;
    --primary-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--light-gray);
    font-family: var(--primary-font);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.section{
    padding: 14rem 25px;
}
.section-title-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: var(--black);
}

.section-title{
    flex-shrink: 0;
}
.section-text{
    font-size: 3rem;
    font-weight: 300;
}