:root {
    --black: #1C1C1C;
    --gray: #919191;
    --light-gray: #EBEBEB;
    --hot-pink: #FF214F;
    --primary-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--light-gray);
    font-family: var(--primary-font);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.section-primary {
    padding: 14rem 25px;
    background-color: var(--light-gray);
}

.section-secondary {
    padding: 14rem 25px;
    background-color: var(--black);
}

.section-title-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-title-primary,
.section-title-secondary,
.section-title-tertiary {
    flex-shrink: 0;
}

.section-title-primary {
    color: var(--black);
}

.section-title-secondary {
    color: var(--hot-pink);
}

.section-title-tertiary {
    color: var(--gray);
}

.line-primary,
.line-secondary,
.line-tertiary {
    width: 100%;
    height: 1px;
    margin-left: 5px;
}

.line-primary {
    background-color: var(--black);
}

.line-secondary {
    width: 60%;
    background-color: var(--hot-pink);
}

.line-tertiary {
    background-color: var(--light-gray);
}

.section-text-primary,
.section-text-secondary,
.section-text-tertiary {
    font-size: 3rem;
    font-weight: 300;
}

.section-text-primary {
    color: var(--black);
}

.section-text-secondary {
    color: var(--hot-pink);
}

.section-text-tertiary,
.upc-date {
    color: var(--gray);
}

.date {
    display: flex;
    justify-content: space-between;
}

.underlined-date {
    text-decoration: underline;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.photo-gallery>img {
    height: 100%;
    width: 100%;
}

.long-img {
    grid-row: span 2;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 
.footer-elements{
    padding: 50px 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--gray);
}
.footer-elements > ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
a:visited{
    color: black;
}

@media only screen and (max-width:850px) {
    nav{
        justify-content: center;
    }
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .line-primary,
    .line-secondary,
    .line-tertiary {
        display: none;
    }

    .section-title-container {
        justify-content: center;
    }

    .section-text-primary,
    .section-text-secondary,
    .section-text-tertiary {
        font-size: 2.5rem;
        text-align: center;
    }
   .logo-container{
    justify-content: center;
   }

    .footer-elements{
        gap: 20px;
    justify-content: center;
    }
}